<div class="value-content">
  <ul>
    {% for restriction in object.restrictions %}
      {% if listRestrictions[restriction.value] is defined %}
        <li>
          <span class="value">{{ listRestrictions[restriction.value] }}:{{ restriction.containerName }} -> {{ restriction.condition }}</span>
        </li>
      {% else %}
        <li>
          <span class="value">{{ "choices.restriction.all"|trans({"%element%": restriction.value|split(":")|first}, list.mapper.translateDomain) }}:{{ restriction.containerName }} -> {{ restriction.condition }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>